@model TripAgency.EF.OficinaRenta

@{
    ViewBag.Title = "Create";
}

<h2>Añadir Oficina Renta</h2>

<form method="post" enctype="multipart/form-data">
    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4>Oficina Renta</h4>
            <br />
            @Html.ValidationSummary(true)
            
            <div class="form-group">
                @Html.Label("Empresa", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("idEmpresa", String.Empty)
                    @Html.ValidationMessageFor(model => model.idEmpresa)
                </div>
            </div>
            
            <div class="form-group">
                @Html.Label("Destino", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.DropDownList("idDestino", String.Empty)
                    @Html.ValidationMessageFor(model => model.idDestino)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Nombre", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextBoxFor(model => model.nombre, new { @class = "form-control", @placeholder = "Nombre de Oficina Renta" })
                    @Html.ValidationMessageFor(model => model.nombre)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Imagen", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    <input type="file" name="picture" />
                    @Html.ValidationMessageFor(model => model.imagen)
                </div>
            </div>

            <div class="form-group">
                @Html.Label("Descripción", new { @class = "control-label col-md-2" })
                <div class="col-md-10">
                    @Html.TextAreaFor(model => model.descripcion, new { @class = "col-md-2", @placeholder = "Descripción" })
                    @Html.ValidationMessageFor(model => model.descripcion)
                </div>
            </div>


            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input type="submit" value="Create" class="btn btn-default" />
                </div>
            </div>
        </div>
    }

    <div>
        @Html.ActionLink("Ir atrás", "Index")
    </div>

    @section Scripts {
        @Scripts.Render("~/bundles/jqueryval")
    }
</form>