@model TripAgency.EF.Suplemento

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Suplemento</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.suplemento1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.suplemento1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion_suplemento)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion_suplemento)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idSuplemento }) |
    @Html.ActionLink("Back to List", "Index")
</p>
