@model TripAgency.EF.Estacion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Estacion</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.estacion1)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.estacion1)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcioon_estacion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcioon_estacion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEstacion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
