@model TripAgency.EF.Temporada

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Temporada</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idtemporada }) |
    @Html.ActionLink("Back to List", "Index")
</p>
