@model PagedList.IPagedList<TripAgency.EF.Carro>
@using PagedList.Mvc;
@using TripAgency.Models
@Styles.Render("~/Content/pagedlist")
@Scripts.Render("~/bundles/new")

@{
    ViewBag.Title = "Marca Modelo";
    var word = "";
}

<h2>Marca Modelo</h2>

<p>
    @Html.ActionLink("Añadir nuevo", "Create")
</p>
<br />
<div class="row">
    <div class="col-md-3">
        <form action="#" method="get">
            <div class="input-group">
                <input class="form-control" id="system-search" name="Search_Data" placeholder="Buscar por" required="">
                <span class="input-group-btn">
                    <button type="submit" class="btn btn-default">
                        <i class="glyphicon glyphicon-search"></i>
                    </button>
                </span>
            </div>
        </form>
    </div>
    <div class="col-md-9">
        <table class="table table-hover table-list-search">
            <tr>
                <th>
                    @Html.ActionLink("Empresa", "Index", new { Sorting_Order = ViewBag.SortingNombre })
                </th>
                <th>
                    @Html.DisplayName("Categoría")
                </th>
                <th>
                    @Html.DisplayName("Marca Modelo")
                </th>
                <th>
                    @Html.DisplayName("Transmisión")
                </th>
                <th>
                    @Html.DisplayName("Pasajeros")
                </th>
                <th>
                    @Html.DisplayName("Imagen")
                </th>
                <th>
                    @Html.DisplayName("Imagen")
                </th>
                <th>
                    @Html.DisplayName("Imagen")
                </th>
                <th></th>
            </tr>

            @foreach (var item in Model)
            {
                <tr>
                    <td>
                        @Html.DisplayFor(modelItem => item.Empresa.nombre_empresa)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.Tipologia_Carro.nombre)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.name)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.transmision)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.pasajeros)
                    </td>
                    <td>
                        <img height="50" src="@item.foto_carro1" width="50" alt=@item.foto_carro1 />
                    </td>
                    <td>
                        <img height="50" src="@item.foto_carro2" width="50" alt=@item.foto_carro2 />
                    </td>
                    <td>
                        <img height="50" src="@item.foto_carro3" width="50" alt=@item.foto_carro3 />
                    </td>
                    <td>
                        @Html.ActionLink("Editar", "Edit", new { id = item.idCarro })
                        @Html.ActionLink("Borrar", "Delete", new { id = item.idCarro })
                    </td>
                </tr>
            }
        </table>
        Page @(Model.PageCount < Model.PageNumber ? 0 : Model.PageNumber) of @Model.PageCount
        @Html.PagedListPager(Model, Page_No => Url.Action("Index", new { Page_No, Sorting_Order = ViewBag.CurrentSortOrder, Filter_Value = ViewBag.FilterValue }))
    </div>
</div>