@model TripAgency.EF.Cadena

@{
    ViewBag.Title = "Borrar";
}

<h2>Borrar</h2>

<h3>Está seguro que desea borrar este elemento?</h3>
<div>
    <h4>Cadena</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cadena_)
        </dd>

        <dt>
            @Html.DisplayName("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descrpcion_cadena)
        </dd>

    </dl>

    @using (Html.BeginForm()) {
        @Html.AntiForgeryToken()

        <div class="form-actions no-color">
            <input type="submit" value="Borrar" class="btn btn-default" /> |
            @Html.ActionLink("Ir atrás", "Index")
        </div>
    }
</div>
