@model TripAgency.EF.Cadena

@{
    ViewBag.Title = "Details";
}

<h2>Detalles</h2>

<div>
    <h4>Cadena</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayName("Nombre")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.cadena_)
        </dd>

        <dt>
            @Html.DisplayName("Descripción")
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descrpcion_cadena)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Editar", "Edit", new { id = Model.idCadena }) |
    @Html.ActionLink("Back to List", "Index")
</p>
