@model TripAgency.EF.Empresa

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Empresa</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.foto_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.foto_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.direccion_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.direccion_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.telefono_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.telefono_empresa)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idEmpresa }) |
    @Html.ActionLink("Back to List", "Index")
</p>
