@model TripAgency.EF.Avion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Avion</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.nombre)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.tllegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.tllegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horallegada)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horallegada)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.horasalida)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.horasalida)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Empresa.nombre_empresa)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Empresa.nombre_empresa)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.TipoAvion.nombre)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.TipoAvion.nombre)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idVuelo }) |
    @Html.ActionLink("Back to List", "Index")
</p>
