@model TripAgency.EF.CategTarifAvion

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>CategTarifAvion</h4>
	<hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.codigocat)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.codigocat)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.descripcion)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.descripcion)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.oneway)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.oneway)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.roundtrip)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.roundtrip)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.idCategTarifAvion }) |
    @Html.ActionLink("Back to List", "Index")
</p>
